<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Heart Risk Prediction</title>
</head>
<body>

<h2>Введите данные пациента</h2>

<form action="/predict_form" method="post">

    <label>Age:
        <input name="age" type="number" step="any" min="0" max="1" required>
    </label><br>

    <label>Cholesterol:
        <input name="cholesterol" type="number" step="any" min="0" max="1" required>
    </label><br>

    <label>Heart rate:
        <input name="heart_rate" type="number" step="any" min="0" max="1" required>
    </label><br>

    <label>Diabetes:
        <select name="diabetes">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </label><br>

    <label>Family history:
        <select name="family_history">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </label><br>

    <label>Smoking:
        <select name="smoking">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </label><br>

    <label>Alcohol consumption:
        <select name="alcohol_consumption">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </label><br>

    <label>Exercise hours per week:
        <input name="exercise_hours_per_week" type="number" step="any" min="0" max="1" required>
    </label><br>

    <label>Diet (0–3):
        <input name="diet" type="number" min="0" max="3" step="1" required>
    </label><br>

    <label>Previous heart problems:
        <select name="previous_heart_problems">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </label><br>

    <label>Medication use:
        <select name="medication_use">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </label><br>

    <label>Stress level (1–10):
        <input name="stress_level" type="number" min="1" max="10" step="1" required>
    </label><br>

    <label>Sedentary hours per day:
        <input name="sedentary_hours_per_day" type="number" step="any" min="0" max="1" required>
    </label><br>

    <label>Income:
        <input name="income" type="number" step="any" min="0" max="1" required>
    </label><br>

    <label>BMI:
        <input name="bmi" type="number" step="any" min="0" max="1" required>
    </label><br>

    <label>Triglycerides:
        <input name="triglycerides" type="number" step="any" min="0" max="1" required>
    </label><br>

    <label>Physical activity days per week:
        <input name="physical_activity_days_per_week" type="number" min="0" max="7" step="1" required>
    </label><br>

    <label>Sleep hours per day:
        <input name="sleep_hours_per_day" type="number" step="any" min="0" max="1" required>
    </label><br>

    <label>Blood sugar:
        <input name="blood_sugar" type="number" step="any" min="0" max="1" required>
    </label><br>

    <label>Gender:
        <select name="gender">
            <option value="male">male</option>
            <option value="female">female</option>
            <option value="unknown">unknown</option>
        </select>
    </label><br>

    <label>Systolic blood pressure:
        <input name="systolic_blood_pressure" type="number" step="any" min="0" max="1" required>
    </label><br>

    <label>Diastolic blood pressure:
        <input name="diastolic_blood_pressure" type="number" step="any" min="0" max="1" required>
    </label><br><br>

    <button type="submit">Predict</button>

</form>

</body>
</html>